<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sửa bài - Writing Server</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/default.css" />

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <script src="/ckeditor/ckeditor.js"></script>
</head>

<body>
    <%- include("navbar") -%> 
    <form action="/api/edit/<%= post._id %>" method="POST" style="margin-top: 80px;" enctype="multipart/form-data" class="container">
        <h1 style="font-weight: 900; color: rgb(40, 117, 218);">Tạo bài viết mới</h1>
        <div class="row" style="margin-bottom: 25px;">
            <div class="col-8">
                <label for="title">Tiêu đề</label>
                <input name="title" id="title" style="width: 100%; padding: 5px 10px;" value="<%= post.title %>"></input>
                <label for="author">Tác giả</label>
                <input name="author" id="author" style="width: 100%; padding: 5px 10px;" value="<%= post.author %>"></input>
                <label for="description">Mô tả</label>
                <textarea name="description" id="description" style="width: 100%; padding: 10px;" cols="30"><%= post.description %></textarea>
            </div>
            <div class="col-4">
                <label for="thumbnail">Ảnh Thumbnail</label><br />
                <input type="file" name="thumbnail" onchange="readURL(this)" id="thumbnail"></input><br />
                <div class="formImage">
                    <img id="previewThumbnail" style="width: 200px;" src="<%= post.thumbnail %>" alt="Preview Image" />
                </div>
            </div>
        </div>
        <label for="content">Nội dung</label>
        <textarea name="content" id="content" rows="10" cols="80"><%= post.content %></textarea>
        <label for="tags">Thẻ bài viết</label>
        <input name="tags" id="tags" style="width: 100%; padding: 5px 10px;" onchange="renderTags()" value="<%= post.tags.join(" ") %>"></input>
        <div style="display: flex; margin: 3px 0;" id="tag-list"></div>
        <button type="submit" class="btn btn-primary">Đăng sửa</button>
    </form>
    <%- include('ckeditor'); -%>
</body>

</html>