<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Citicafe - Cà phê cóc thế hệ mới</title>
    <%- include('partions/styles') -%>
</head>

<body>
    <%- include('partions/navbar') -%>
    <%- include('partions/slide') -%>
    <%- include('partions/customer') -%>
    <%- include('partions/contactus') -%>
    <%- include('partions/footer') -%>
<script>
    AOS.init();
</script>
<script src="/js/main.js"></script>
</body>

</html>