<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Citicafe - Cà phê cóc thế hệ mới</title>
    <%- include('styles') -%>
</head>

<body>
    <%- include('navbar') -%>
    <%- include('slide') -%>
    <%- include('customer') -%>
    <%- include('contactus') -%>
    <%- include('footer') -%>
<script>
    AOS.init();
</script>
</body>

</html>