<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Writing Server</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/default.css" />

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <script src="/ckeditor/ckeditor.js"></script>
</head>

<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">TNCBlog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="/">Trang chủ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/posts">Bài viết</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/vietbai">Viết bài</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://thanhnguyencrypto.com/">Về chúng tôi</a>
                </li>
            </ul>
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <div class="container" id="main" style="padding-top: 70px;">
        <h1>Bài viết</h1>
        <ul class="post-list">
            <% if(posts.length>0) { %>
                <% posts.forEach(function(post) { %>
                    <li
                        style="margin: 5px 0; border-radius: 10px; border: #f7f7f7 2px solid; background-color: #fbfbfb; padding: 5px; display: flex;">
                        <div style="height: 150px; width: 200px; display: flex; align-content: center;">
                            <img style="width: 200px; border-radius: 8px;" src="<%= post.thumbnail %>">
                        </div>
                        <div style="width: 75%; margin-left: 10px;">
                            <h4>
                                <%= post.title %>
                            </h4>
                            <p style="color: rgb(88, 88, 88);">
                                Tác giả: <%= post.author %>
                            </p>
                            <p style="color: rgb(88, 88, 88);">
                                <%= post.description %>
                            </p>
                        </div>
                        <div>
                            <a style="margin: 10px;" href="/edit/<%= post._id %>">
                                <button type="button" class="btn btn-primary">Sửa</button>
                            </a>
                            <div style="margin: 10px;">
                                <button type="button" onclick="postDelete('<%= post._id %>')"
                                    class="btn btn-danger">Xóa</button>
                            </div>
                        </div>
                    </li>
                <% }); %>
            <% } else { %>
                <div class="container" style="width: 100%;height: 30vh;margin-top: 20vh;display: block;text-align: center;align-items: center;justify-content: center;">
                    <h1>Không có bài viết nào</h1>
                </div>
                <% }; %>
        </ul>
    </div>
</body>
<script>
    function postDelete(item) {
        fetch("/api/delete/" + item, {
            method: 'DELETE',
        }).then(response => response.json()).then(data => {
            if (data.status == "Thành công") {
                window.location = "/thanhcong"
            }
            else {
                window.location = "/thatbai"
            }
        })
            .catch((error) => {
                window.location = "/thatbai"
            })
    }
</script>

</html>